a, a:hover, a:active, a:focus{
    cursor: pointer;
    cursor: hand;
    text-decoration: none;
}

html, body, #document-insertion{
    width: 100%;
    word-wrap:break-word;
    min-height: 100vh;
    height: 100vh;
}

body{
    font-family: Verdana;
}

.navbar-brand, .nav-back-chevrons{
    min-width: 50px;
}
